{% extends 'account_base.html' %}
{% block title %}Register as{% endblock %}
{% block content %}

			<div class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					REGISTER AS
				</span>

                <center><button class="login100-form-btn register" onclick="window.location.href='/organization-signup.html'">Organization</button></center><br>
                <center><button class="login100-form-btn register" onclick="window.location.href='/student-signup.html'">Student</button></center><br>
                <center><button class="login100-form-btn register" onclick="window.location.href='/third-party-signup.html'">Third Party</button></center><br>

			</div>
{% endblock %}